
/*---------------------------------------------- GENERAL -------------------------------------------------*/
html{
  background-color: #CBDAC7;
}

h1 
{
  font-size: 50px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h2
{
  font-size: 40px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h3
{
  font-size: 30px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body
 {
  background-color: #E7EEE6;
  width: 80%;
  min-width: 1400px;
  margin-left: auto;
  margin-right: auto;
 }

 a
 {
   text-decoration: none;
   color: green;
 }

 span
{
   font-style: italic;
}



/*---------------------------------------------- HEADER -------------------------------------------------*/
header
{
  min-width: 1200px;
}

.en-tete
{
  display: grid;
  background-color: #F5F8F4;
  grid-template-columns: 20% 20% 24% 16% 16%;
  grid-column-gap: 1%;
  height: 300px;
}

.en-tete img
{

  grid-column-start: 1;
  width: 90%;
  height: 60%;
  margin: auto;
  min-width: 260px;
}

.titre
{
  grid-column-start: 2;
  margin-top: auto;
  margin-bottom: auto;
  min-width: 290px;
}

.titre h1
{
  margin: 0%;
  color: green;
  font-size: 1.6vw;
  font-weight: 900;
}

.titre h2
{
  margin: 0%;
  font-size: 1.1vw;
  font-weight: 400;
}

.titre h3
{
  margin: 0%;
  font-size: 0.9vw;
  font-weight: bold;
}

 #LienDevis
 {
  grid-column-start: 4;
  width: 90%;
  min-width: 80%;
  height: 35%;
  min-width: 180px;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
  background-color: turquoise;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-size: 1.1vw;
  font-weight: 900;
  cursor: pointer;
 }

 #Numero
 {
  grid-column-start: 5;
  width: 90%;
  height: 35%;
  min-width: 180px;
  margin-top: auto;
  margin-bottom: auto;
  background-color: green;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-size: 1.1vw;
  font-weight: 900;
  cursor: pointer;
 }

 @media screen and (max-width: 2300px){
  

  .titre h1
  {
    font-size: 38px;
  }

  .titre h2
  {
    font-size: 25px;
  }
  
  .titre h3
  {
    font-size: 20px;
  }

  #LienDevis
  {
    font-size:  22px;
  }

  #Numero
  {
    font-size:  22px;
  }


  
}

 /*--------------------------------------------------------- MENU  -------------------------------------------------*/
 .Menu-et-Slider
 {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
 }

 .Menu-et-Slider p
 {
  font-size: 25px;
  font-weight: bolder;
 }


.Menu{
  background-color: aliceblue;
  height: 130px;
  width: 100%;
  border: 1px solid lightgrey;
  display: grid;
  grid-template-columns: 65% 35%;

  
}

.menu
{
  display: flex;
  border: 1px solid lightgrey;
}

.menu a
{
  font-size: 0.85vw;
  font-weight: 900;
}

.menu p
{
  text-align: center;
}

.active
{
  background-color: green;
  border: 1px solid lightgrey;
  padding-left: 3%;
  padding-right: 3%;
}

.active a
{
  color: black;
}

.lien-menu 
{
  width: 100%;
  border: 1px solid lightgrey;
}

 .texte 
 {
  grid-column-start: 2;
  text-align: end;
  margin-bottom: auto;
  margin-top: auto;
}

.texte p
{
  margin: 1%;
  text-transform: uppercase;
  margin-right: 5%;
  font-weight: 900;
  font-size: 0.9vw;
}

@media screen and (max-width: 1800px){

  .texte p
  {
    font-size: 16px;
  }

  .menu a
 {
  font-size: 16px;
 }

}



/*---------------------------------------------- CARROUSEL IMAGE -------------------------------------------------*/

.carrousel-images
{
  display: flex;
  justify-content:flex-start;
  align-items: center;
  width: 100%;
}

.slider{
  width: 100%;
  height: 100%;
  max-height: 800px;
  overflow: hidden;
  min-width: 90%;
}

.slides{
  width: 500%;
  max-height: 800px;
  display: flex;
  min-width: 90%;
}

.slides input{
  display: none;
}

.slide{
  width: 20%;
  transition: 2s;
}

.slide img{
  width: 100%;
  height: 100%;
  max-height: 800px;
  min-width: 90%;
}


.navigation-manual{
  position: absolute;
  width: 80%;
  margin-top: -50px;
  display: flex;
  justify-content: center;
  min-width: 1200px;
}

.manual-btn{
  border: 2px solid grey;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:not(:last-child){
  margin-right: 40px;
}

.manual-btn:hover{
  background: grey;
}

#radio1:checked ~ .first{
  margin-left: 0;
}

#radio2:checked ~ .first{
  margin-left: -20%;
}

#radio3:checked ~ .first{
  margin-left: -40%;
}

.navigation-auto{
position: absolute;
align-self: flex-end;
display: flex;
justify-content: center;
width: 80%;
margin-bottom: 36px;
min-width: 1200px;
max-height: 800px;
}

.navigation-auto div{
  border: 2px solid grey;
  padding: 5px;
  border-radius: 10px;
  transition: 1s;
}

.navigation-auto div:not(:last-child){
  margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
  background: lightgrey;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
  background: lightgrey;
}

#radio3:checked ~ .navigation-auto .auto-btn3{
  background: lightgrey;
}



/*---------------------------------------------- CENTRE -------------------------------------------------*/

.centre
{
  display: grid;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  grid-template-columns: 26% 68%;
  grid-template-rows: auto;
  min-width: 1200px;
  grid-column-gap: 6%;
  margin-top: 20px;
  margin-bottom: 60px;
  height: fit-content;
}



 /*---------------------------------------------- SIDEBAR -------------------------------------------------*/

.sidebar
{
  grid-column-start: 1;
  height: fit-content;
  width: 100%;
  background-color: #E7EEE6;
  min-width: 80%;
}

.sidebar p
{
  font-size: 30px;
}

.sidebar i
{
  font-size: 30px;
}

.sidebar iframe
{
  height: 450px;
  width: 100%;
}

.redirection
{
  background-color: white;
  height: fit-content;
   
}
 
.redirection a{
   
  display: block;
  border-bottom: 1px solid lightgrey;
  font-size: 35px;
  padding: 5%;
   
 }

 @media screen and (max-width: 1950px){

  .sidebar iframe
  {
    height: 300px;
  }
 }

 /*---------------------------------------------- PRINCIPALE -------------------------------------------------*/


 .main
 {
  background-color: #E7EEE6;
  grid-column-start: 2;
  grid-row-start: 1;
 }

 .main p
 {
  font-size: 32px;
 }

 .main span{
  font-size: 34px;
 }

 .section
 {
  display: grid;
  grid-template-columns: repeat(3, 1fr) ;
  grid-column-gap: 4%;
  min-width: 70%;
  margin-bottom: 80px;
 }

 .article
 {
   border :2px solid black;
   background-color: #E7EEE6;
   width: auto;
   height: fit-content;
   padding-top: 40px;
   padding-bottom: 12%;
   text-align: center;
   min-height: 250px;
 }

 .article span{
   text-transform: uppercase;
   font-weight: bold;
   font-size: 1.4vw;
 }

 .article p{
  font-size: 0.90vw;
 }


 .article i
 {
   font-size: 50px;
   margin-bottom: 20px;
 }


 .galerie
 {
  background-color: white;
  display: grid;
  grid-template-columns: repeat(4, 1fr) ;
  grid-template-rows: fit-content;
  grid-column-gap: 2%;
}

#img-galerie
{
  width: 80%;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 1950px){

  
 .article span
 {
  font-size: 30px;
 }
}

@media screen and (max-width: 2350px){

  .article p
 {
  font-size: 23px;
 }

}

/*---------------------------------------------- BANDEAU PIED DE PAGE -------------------------------------------------*/
.foot
{
  background-color: #9FEBE0;
  display: inline-block;
  width: 100%;
  min-width: 1200px;
  height: fit-content;
  padding-top: 2%;
  padding-bottom: 2%;

}

.foot p
{
   padding-top: 20px;
   text-align: center;
   font-size: 30px;
}

.button {
  display: block;
  background-color: #21B8A1;
  color: white;
  margin-left: auto;
  margin-right: auto;
  font-size: 30px;
  font-weight: 800;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
}

/*---------------------------------------------- PIED DE PAGE -------------------------------------------------*/

footer
{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-left: 20px;
  min-width: 1100px;
}
footer h2
{
  font-size: 35px;
}


footer span
{
   font-weight: bold;
   font-size: 30px;
   font-style: normal;
}
.footer a
{
  font-size: 28px;
}

.footer p
{
  font-size: 25px;
  margin: 0%;
}

.footer i
{
  font-size: 25px;
}

.text-footer
{
  margin-top: 10%;
  text-align: center;
  font-size: 25px;
}
